/* removing margin */
*{
  margin: 0%;
}
/* aligning in center */
.App {
  text-align: center;
}
/* styling anchor tage */
a{
  text-decoration: none;
  color: black;
}
/* styling the header div */
.headerDiv{
  font-size: 30px;
  font-family:monospace;
  margin: 0%;
  background-color: lightyellow;
  padding:40px;
}
/* styling the menu div */
.menuDiv{
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
}
/* styling buttons on menu Div */
.menuDiv button{
  margin: auto;
  width: 100px;
  font-size: x-large;
}
/* styling start div */
.startDiv{
  padding: 30px;
}
/* styling rule div */
.ruleDiv{
  padding: 30px;
  margin: auto;
}
/* styling rules in rule div */
.rules{
  background-color: lightyellow;
  padding: 10px;
  margin: auto;
  width:50%;
  border:2px yellow solid;
}
/* styling the main game div */
.GameDiv{
  padding: 50px;
  margin: auto;
  display: flex;
  width:70%;
  flex-wrap: wrap;
  justify-content: center;
}
/* styling images in game div */
.GameDiv img{
  width: 150px;
  height: auto;
}
/* styling card divs */
.cardDiv{
  padding: 5px;
}
/*  styling button div */
.buttonDiv{
  padding : 20px;
  display: flex;
  margin: auto;
  width:60%;
  justify-content: flex-end;
}
/* styling buttons in button div */
.buttonDiv button{
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: 10px;
  margin: 10px;
}
/* styling anchor tags in button div */
.buttonDiv a{
color: white;
}
/* styling turn counter div */
.turnCounter{
  display: flex;
}
/* styling p in turn counter div */
.turnCounter p{
  margin-left: 70%;
  padding: 10px;
  border: 2px black solid;
  border-radius: 70px;
  background-color: white;
}
